
*{
	margin right: 10;
	padding: 0;
	

}


/*-------nav bar------*/
#navbar{
	position:sticky;
	top:0;
	z-index: 10;
	
}
.navbar-brand img{
	height: 90px;
	width: 180px;
	padding-left: 30px;
	

}

.navbar-nav  li{
	padding: 10px;

}

.navbar-nav  li a{
	float: right;
	text-align: left;
}

#navbar ul li a:hover{
	color: #007bff!important;
}
.navbar{
	background: #fff;
}
.navbar-toggler{
	border: none !important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}


.form-inline{
	padding right:50px;
	position: center;
}
/*_______________________________slider----------------*/
#slider{
	width:100%;



}
.carousel-caption{
	top:50%;
	transform: translateY(-50%);
	bottom:initial!important;
}
.carousel-caption h5{
	color: #fff;
	font-size: 50px;
	font-weight: 800;
}
/*------------------------about----------------*/
#about{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}

#about .btn-primary {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
    size: 20px;
}
.about-content{
	padding-top: 20px;
}
#more{
	display: none;
}
button{
	background-color: #ff0066;
	border: none;
	outline: none;
	color: white;
	font-size: 30px;
	padding: 5px; 
}
/*------------------------services------------*/
#services{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../AMP  productions/images/1.jpeg");
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#services h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}
#services h1::after{
	content: '';
	background:#efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin:20px auto 5px;
}
/*===========================our team*/
#team{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
.class{
	text-align: center;
	color: #555!important;
	padding-bottom: 10px;
}
.class::after{
	content:'';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin:20px auto 5px;
}


.profile-pic{
	margin-top: 25px;

}
.profile-pic .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile-pic .img-box img{
	filter: grayscale(1);

}

.profile-pic .img-box img:hover{
	filter: grayscale(0);
	cursor: pointer;

}
.profile-pic h2{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff!important;

}
.profile-pic h3{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	
	
}
#team .fa {
	height: 25px;
	width: 25px;
	color: #007bff!important;
	background:#fff;
	padding: 4px;
	border-radius: 50%;

}
.img-box ul{
	padding: 15px 0;
    !position: absolute;
    z-index:2;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);

}

.img-box ul li{
	padding:5px;
	display: inline-block;

}
.img-box:hover ul{
	opacity: 1;

}

.img-box ul,.img-box ul li{
	transition: 0.5s;
}
.img-box img{
	border:groove;
}