
*{
	margin right: 10;
	padding: 0;
	

}


/*-------nav bar------*/
#navbar{
	position:sticky;
	top:0;
	z-index: 10;
	
}
.navbar-brand img{
	height: 90px;
	width: 180px;
	padding-left: 30px;
	

}

.navbar-nav  li{
	padding: 10px;

}

.navbar-nav  li a{
	float: right;
	text-align: left;
}

#navbar ul li a:hover{
	color: #007bff!important;
}
.navbar{
	background: #fff;
}
.navbar-toggler{
	border: none !important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}


.form-inline{
	padding right:50px;
	position: center;
}
/*_______________________________slider----------------*/
#slider{
	width:100%;



}
.carousel-caption{
	top:50%;
	transform: translateY(-50%);
	bottom:initial!important;
}
.carousel-caption h5{
	color: #fff;
	font-size: 50px;
	font-weight: 800;
}
/*------------------------about----------------*/
#about{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;


}

#about .btn-primary {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
    size: 20px;
}
.about-content{
	padding-top: 20px;
}

#more{
	display: none;
}
button{
	background-color: #ff0066;
	border: none;
	outline: none;
	color: white;
	font-size: 30px;
	padding: 5px; 
}
/*------------------------services------------*/
#services{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../AMP  productions/images/1.jpeg");
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#services h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}
#services h1::after{
	content: '';
	background:#efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin:20px auto 5px;
}
#services h3{
	font-size: 20px;
	padding: 50px;
}
/*-----------------------map----------*/
.map{
	padding-top: 0px;


}
#location h1{

	
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));

}

#location h1::after{
	content: '';
	background:#efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin:20px auto 5px;
}
/*________________________________get in touch---------------*/

#contact h1{

	text-align: center;
	color: #555!important;
	padding-bottom: 10px;
	padding-top: 40px;
}

#contact h1:after{
	content:'';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin:20px auto 5px;
}

.contact-form{
	padding: 30px;
}
.form-control{
	border-radius: 0!important;
	border: none;

}

.form-group:placeholder{
	color:#999!important;
}
.follow{
	background:#fff;
	padding: 10px;
	margin: 15px;
}
#contact{
	background:rgb(242, 242, 242);
}
.contact-info{
	padding: 10px;
}
/***********************footer*/
.fa-heart-o {
	margin: 3px;
	color: red;
	font-color:white;
	background:black;
}